.container{
max-width:1200px;
margin:auto;
padding:30px;
}

h2{
margin-bottom:20px;
font-size:28px;
font-weight:600;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:8px;
overflow:hidden;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

th{
background:#2b6cb0;
color:white;
padding:14px;
font-size:15px;
text-align:center;
}

td{
padding:14px;
text-align:center;
border-bottom:1px solid #eee;
font-size:14px;
}

tr:hover{
background:#f9fafb;
}


.return-btn{
background:#ef4444;
color:white;
border:none;
padding:7px 16px;
border-radius:6px;
cursor:pointer;
font-size:14px;
font-weight:500;
}

.return-btn:hover{
background:#dc2626;
}