body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #1976d2;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
}

button {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
